/* DEFAULT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: auto;
}


/* VAR */
:root {
    --background-btn: #0061ff;
    --background-section: #b4d0e7;
    --background-section-dark: #000000;
    --title-colored: #61082b;
    --border: #e6e6e8;
}

.background-section {
    background-color: var(--background-section);
}

.background-dark {
    background-color: var(--background-section-dark);
}

.container {
    border: 2px dashed blue;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.small-container {
    display: block;
    max-width: 900px;
}

.container-large {
    display: block;
    max-width: 980px;
}

h1 {
    font-size: 70px;
}

.btn-primary {
    color: white;
    background-color: var(--background-btn);
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: .5rem 1rem;
}

.btn-incolor {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.btn-noborder {
border: 0;
}

.row {
    display: flex;
}

.col {
    flex-basis: 33.3%;
}

h1, h2 {
    padding-bottom: 30px;
}

h4, h3 {
    padding-bottom: 20px;
}

/* NAVIGATION BAR */
nav .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.btn-left, .btn-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul a {
    display: inline-block;
    color: black;
    list-style: none;
    text-decoration: none;
}

.btn-primary a {
    text-decoration: none;
    color: white;
    background-color: var(--background-btn);
    padding: .5rem 1rem;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px dashed red;
}

/* HERO SECTION */
.hero {
    padding-bottom: 80px;
    margin-bottom: -40px;
}

.hero-row {
    width: 100%;
    min-height: 100px;
}

.col-small {
    width: 30%;
    line-height: 20px;
}

.col-large {
    width: 70%;
    position: relative;
}

.img-jumbo {
    position: absolute;
}

.col-large img {
    width: 100%;
}

main .col-small .btn-primary {
    margin-top: 30px;
    margin-bottom: 30px;
}

.arrow {
    font-size: 50px;
    padding-top: 40px;
}

/* PLANE SECTION */


/* INPUT RADIO */
.radio-plane {
    display: flex;
    gap: 1rem;
    padding-bottom: 30px;
}

/* COLUMNS PLANE */
.columns {
    display: flex;
    gap: 1rem;
}

.col-plane {
    border: 2px solid var(--border);
}

.col-plane ul {
    list-style-image: url(../img/check-solid.svg);
}

.type-user, .type-offer, .offer, .time, .highlights {
    padding: 20px 20px;
    line-height: 30px;
}

/* CONTACT ROW */
.row-plane {
    padding-top: 40px;
}

.contact-user, .type-user {
    display: flex;
    gap: .2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
}

.contact-row {
    display: flex;
    border: 2px solid var(--border);
    padding: 30px 20px;
}

.contact-left {
    width: 70%;
}

.contact-right {
    width: 30%;
}

/* PARTNER SECTION */
.partner-row {
    display: flex;
    height: 500px;
    gap: 2rem;
}

.partner-large {
    width: 60%;
    background-image: url(../img/partner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.partner-small {
    width: 40%;
    padding-top: 60px;
}

.partner-small .btn-incolor {
    padding-top: 40px;
}

.partner-small p {
    line-height: 20px;
}

/* CARDS SECTION */

.cards-col {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 2rem;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.large {
    width: 60%;
}

.small {
    width: 40%;
}

/* FREE TRIAL SECTION */
.free-trial .large h2 {
    color: var(--title-colored);
}

/* FREQUENT QUESTIONS */
.question {
    padding-top: 30px;
    padding-bottom: 30px;
}

.question i {
    display: inline-block;
}

.chevron-down {
    text-align: right;
    padding-right: 3rem;
}

/* FOOTER SECTION */
footer h3 {
    color: white;
}

footer li {
    list-style: none;
    line-height: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    max-width: 980px;
}

.footer-lan {
    color: white;
    line-height: 50px;
    padding-top: 20px;
    margin-bottom: 0;
}

.language {
    color: #999999;
    font-size: .8rem;
}



















